.mb {
    &5 {
        margin-bottom: 5px;
    }
    &10 {
        margin-bottom: 10px;
    }
    &15 {
        margin-bottom: 15px;
    }
    &20 {
        margin-bottom: 20px;
    }
    &25 {
        margin-bottom: 25px;
    }
    &30 {
        margin-bottom: 30px;
    }
    &35 {
        margin-bottom: 35px;
    }
    &40 {
        margin-bottom: 40px;
    }
    &45 {
        margin-bottom: 45px;
    }
    &50 {
        margin-bottom: 50px;
    }
    &55 {
        margin-bottom: 55px;
    }
    &60 {
        margin-bottom: 60px;
    }
    &65 {
        margin-bottom: 65px;
    }
    &70 {
        margin-bottom: 70px;
    }
    &75 {
        margin-bottom: 75px;
    }
    &80 {
        margin-bottom: 80px;
    }
    &85 {
        margin-bottom: 85px;
    }
    &90 {
        margin-bottom: 90px;
    }
    &95 {
        margin-bottom: 95px;
    }
    &100 {
        margin-bottom: 100px;
    }
    &105 {
        margin-bottom: 105px;
    }
    &110 {
        margin-bottom: 110px;
    }
    &115 {
        margin-bottom: 115px;
    }
    &120 {
        margin-bottom: 120px;
    }
}