:root {
    --anim: .4s all;


    // ! для тега body
    --body-font-size: 14px;
    --body-line-height: 18px;
    --body-color-text: var(--white);
    --body-color-background: #fff;

    // ! основной шрифт *
    --default-font-family: 'AtypDisplay', sans-serif;

    // ! дефолтная кнопка
    --button-bg: #1976D2;
    --button-color: var(--white);
    --border-radius-button: 33px;
    --button-font-size: 20px;
    --button-font-weight: 600;
    --button-width: 20px;
    --button-height: 20px;

    // ! отступ между секциями
    --section-margin-bot: 30px;

    // ! Стилизация заголовков h1-h4
    --h1-font-size: 30px;
    --h1-font-weight: 600;
    --h1-line-height: 100%;

    --h2-font-size: 30px;
    --h2-font-weight: 600;
    --h2-line-height: 100%;

    --h3-font-size: 20px;
    --h3-font-weight: 600;
    --h3-line-height: 100%;

    --h4-font-size: 20px;
    --h4-font-weight: 600;
    --h4-line-height: 100%;

    // ! стилизация формы

    // --form-input-border-width: 11px;
    // --form-input-border-color: #000;
    // --form-input-border-radius: 10px;
    // --form-input-background: #fff;
    // --form-input-color: #000;
    // --form-input-color-placeholder: grey;
    // --form-input-padding: 10px;
    // --form-input-font-size: 16px;
    // --form-input-line-height: 110%;

    // ! стилизация акордиона

    // --accordion-item-header-background: #fff;
    // --accordion-item-content-background: #fff;
    // --accordion-item-color-title-active: #fff;
    // --accordion-item-margin-bottom: 20px;
    // --accordion-item-title-font-size: 24px;
    // --accordion-item-title-font-weight: 600;
    // --accordion-item-content-font-size: 16px;
}

// !цвета
:root {
    --white: #fff;
    --black: #000;
}


@media (max-width: 767px) {
    :root {
        // ! для тега body
        --body-font-size: 14px;
        --body-line-height: 18px;
    
        // ! отступ между секциями
        --section-margin-bot: 30px;
    }
}

* {
    font-family: var(--default-font-family);
}
body {
    font-family: '';
    font-size: var(--body-font-size);
    font-weight: 400;
    background: var(--body-color-background);
    line-height: var(--body-line-height);
    color: var(--body-color-text);
}
main {
    overflow: hidden;
}
.sectiion-mb {
    margin-bottom: var(--section-margin-bot);
}
.section-title {
    margin-bottom: 30px;
    color: #fff;
}
// ! ссылочки
a {
    text-decoration: none;
}


// !xxl
@media (max-width: 1399px) {

}
// !xl
@media (max-width: 1199px) {
}
// !lg
@media (max-width: 990px) {

}
// !md
@media (max-width: 767px) {
    // .container {
    //     padding-left: 12px !important;
    //     padding-right: 12px !important;
    // }
}
// !sm
@media (max-width: 575px) {

}