.item__content {
    max-height: 0;
    /* изначально блок свёрнут */
    overflow: hidden;
    /* полностью скрывает дочерний блок */
    transition: max-height var(--transition-def);
    /* время анимации можно менять по желанию */
}

:root {
    --main: var(--mid-dark);
    --main-darken: var(--mid-dark);
}
// ! состояния активности пишим тут
.section__item[data-open="true"] {
    .item {
        &__name{
            color: var(--green);
        }
        &__icon {
            background: url('../icons/accordion-visible.svg')no-repeat 0%/cover;
        }
    }
}
// ! отступы между элементами кроме последнего
.section__item:not(:last-child) {
    margin-bottom: 20px;
}

.accordion {
    .item {
        overflow: hidden;
        border-radius: 30px;
        // ! блок с заголовком и кнопкой
        &__button {
            font-weight: bold;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 75px;
            user-select: none;
            cursor: pointer;
            background: var(--main-darken);
            transition: 0.6s;
        }
        // ! заголовок
        &__name {
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
        }
        // ! иконка
        &__icon{
            background: url('../icons/accordion-hidden.svg')no-repeat 0%/contain;
            width: 36px;
            height: 36px;
            display: block;
        }
        // ! обертка для контента, для плавного появления
        &__content{
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.9s;
        }
        // ! блок с контентом
        &__body {
            padding: 0 20px 20px 20px;
            background: var(--main);
            transition: 0.6s;
        }
    }
}