:root {
    --slick-dots-bg-color: #F0F0F0;
    --slick-dots-active-bg-color: #C6DDEE;
    --slick-dots-width: 19px;
    --slick-dots-height: 19px;
    --slick-dots-gap: 8px;
    --slick-dots-radius: 100%;
    --slick-dots-bottom-position: -32px;

    --slick-arrow-width: 0;
    --slick-arrow-height: 0;
}

// ! растягиваем слайды слика что бы были одниковой высоты

.slick-track {
  display: flex;
  .slick-slide {
    height: auto;
  }
}

// ! переопределяем стандартные стили стрелочек slick слайдера
.slick-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    content: "";
    // background: url(../icons/arrow.svg) no-repeat 0%/contain;
    width: var(--slick-arrow-width);
    height: var(--slick-arrow-height);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow:hover {
    filter: invert(33%) sepia(67%) saturate(3414%) hue-rotate(183deg) brightness(89%) contrast(101%);
}

.slick-prev {
    left: -25px;
}

.slick-next {
    transform: rotate(180deg) translateY(50%);
    right: -25px;
}

// ! переопределяем стандартные стили дотстов slick слайдера

.slick-dots {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    gap: var(--slick-dots-gap);
    position: absolute;
    bottom: var(--slick-dots-bottom-position);
    left: 50%;
    transform: translateX(-50%);
  }
  .slick-dots li {
    width: var(--slick-dots-width);
    height: var(--slick-dots-height);
    display: block;
    background-color: var(--slick-dots-bg-color);
    transition: 0.2s all;
    border-radius: var(--slick-dots-radius);
  }
  .slick-dots li.slick-active {
    background-color: var(--slick-dots-active-bg-color);
  }
  .slick-dots button {
    font-size: 0;
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }