.slider {
    // ! модификации

    // ! инициалзиция только в мобилке
    &_init-mobile {
        display: flex;
        gap: 30px;
        .item {
            width: 33.3%;
        }
    }
}
// !xxl
@media (max-width: 1399px) {
    
}
// !xl
@media (max-width: 1199px) {

}
// !lg
@media (max-width: 990px) {

}
// !md
@media (max-width: 767px) {
    .slider {
        // ! модификации
    
        // ! инициалзиция только в мобилке
        &_init-mobile {
            display: inherit;
            gap: inherit;
            .item {
                width: inherit;
            }
        }
    }
}
// !sm
@media (max-width: 575px) {

}