table {
    width: 100%;
    th {
        color: var(--blue);
        text-align: center;
    }
    td,th {
        width: 50%;
        padding: 10px 32px;
    }

    tbody, td, tfoot, th, thead, tr {
        border-width: 1px;
        border-color: #000;
    }
}

// !xxl
@media (max-width: 1399px) {
    
}
// !xl
@media (max-width: 1199px) {

}
// !lg
@media (max-width: 990px) {
    table td, table th {
        padding: 10px;
    }
    td {
        text-align: center;
    }
}
// !md
@media (max-width: 767px) {
    
}
// !sm
@media (max-width: 575px) {

}